numpy~=2.2 # keep numba/xarray.regrid happy
metomi-rose~=2.2 # avoid most recent version.
scikit-learn~=1.6
f90nml
xarray[complete]~=2025.6 # most recent xarray version compatable with python 3.10
scitools-iris
xarray-regrid[accel]
pandas
matplotlib
PyQt5
cftime
scipy
dotenv # makes it easy to set up environment variables
seaborn
filelock # for locking files when running multiple instances of the same code, e.g. when running multiple instances of the same code on a cluster, or when running multiple instances of the same code on a local machine.


